/* Brand Colors */
:root {
  /* Brand Colors */
  --color-brand-jio: rgba(2, 35, 134, 1);
  --color-brand-fresha: rgba(105, 80, 243, 1);
  --color-brand-godesk: rgba(221, 255, 0, 1);
  --color-brand-suzuki: rgba(1, 48, 68, 1);
  --color-brand-warhammer: rgba(0, 0, 0, 1);
  --color-brand-shell: rgba(251, 206, 7, 1);
  --color-brand-ikea: rgba(255, 218, 26, 1);
  --color-brand-postoffice: rgba(238, 39, 34, 1);
  --color-brand-hsbc: rgba(255, 255, 255, 1);
  --color-brand-unilever: rgba(15, 14, 154, 1);
  --color-brand-axa: rgba(52, 60, 61, 1);
  --color-brand-tsb: rgba(0, 168, 225, 1);
}