/* Base Theme Colors */
:root {
  /* Dev colors */
  --color-dev-pink: 241 114 255; /* oklch(0.7526 0.2275 323.6) */

  /* Project colors */
  --fresha-purple: oklch(0.5565 0.2315 282.9);

  /* Focus ring */
  --focus-ring-color: oklch(0.6909 0.2073 42.3);
  --focus-ring-width: 2px;
  --focus-ring-offset: 2px;

  /* Breakpoints */
  --bp-mobile-max: 767px;
  --bp-mobile-min: 768px;
  --bp-tablet: 1024px;
  --bp-desktop: 1440px;

  --brand-fresha-accent: oklch(0.5565 0.2315 282.9); /* oklch(0.5565 0.2315 282.9) */
}