/* Radius Design Tokens */
:root {
  /* Border radius */
  --border-radius-tiny: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-pill: 999px;
}